[Main]
AppName = Sharpie

[Connection]
Server = irc.hostname.tld
Port = 6667
Nick = Sharpie
Channel = test
Password = 

[Admin]
AdminUser = Me

[SSHLocal]
Port =
User =
Pass =

[LastFM]
Key = 
Secret = 