[Main]
AppName = Sharpie
AdminUser = Me
OSName =


[Connection]
Server = irc.hostname.tld
Port = 6667
Nick = Sharpie
Channel = test
Password = 


[LastFM]
Key = 
Secret = 


[PornMD]
Orientation = 
; default search orientation
; possible: gay | shemale | straight


[SSHLocal]
Port =
User =
Pass =